/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
    min-height:100vh;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p{
    text-wrap:pretty;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* styles */
:root{
    --secondary-color:gray;
}
body{
    font-family:"Playfair";
    background-color:white;
    display:flex;
    flex-direction:column;
    gap:2rem;
    position:relative;
    
    
}
.profile-picture{
    width: 400px;
    height: 400px;
    max-width: 100%; 
    
}

footer{
    background-color:black;
}
header{
    padding:2.5rem 2.5rem 0 2.5rem;
    display:flex;
    justify-content:center;
    position:relative;
    background-color:white;

}
header .icon{
    width:25px;
}
.skewed-shape{
     transform-origin: top left;
    background-color:black;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    flex:1;
    position:absolute;
    left:0;
    top:0;
    height:350px;
    width:100%;
    transform:skewY(-4deg);
    z-index:1;
}
.profile-picture-container{
    position:relative;
    z-index:1;
    flex-basis:400px;
    flex-shrink:0;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
.header-wrapper{
    flex: 0 1 100%;   
    z-index:1;
    display:flex;
    max-width:1400px;
    
}
.about-me-container{
    background-color:white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding:1rem;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    gap:1rem;
    font-size:1.1rem;
    
}
.header-wrapper .social-links{
    display:flex;
    justify-content:flex-end;
    gap:1rem;
    margin-top:auto;
    
}
.profile-picture-container .name{
    position:absolute;
    top:94%;
    left:50%;
    transform: translate(-50%, -50%);
    bottom:-5%;
    font-size:2rem;
    width:100%;
    text-align:center;
    color:white;
}
main{
    background-color:white;
    display:flex;
    flex-direction:column;
    padding:0 2.5rem;
}
main .main-wrapper{
    display:grid;
    grid-template-columns:repeat(3,minmax(250px,1fr));
    gap:1.5rem;
    justify-content:center;
    margin-inline:auto;
    width:100%;
    max-width:1400px;
    align-items:stretch;
}
main h1{
    grid-column: 1/ -1;   
}
main .card{
    width:100%;
    display:flex;
    flex-direction:column;
    aspect-ratio:1/1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    
    
}

.screenshot{
    width: 100%;
        aspect-ratio:16/9;
        object-fit: cover;
        object-position: center;
}

.project-details-container{
    display:flex;
    flex-direction:column;
    
}

.project-title-and-icons-container{
    display:flex;
    justify-content:space-between;
    padding:0.5rem;
}

.project-details-container p{
    padding:0.5rem;
    flex-grow:1;
}

.icons-container{
    display:flex;
    gap:10px;
    
}
.icons-container a{
    margin:auto;
}
.card .icon{
    width:20px;
}
footer{
    width:100%;
    padding: 2.5rem;
    color:white;
}
.footer-wrapper{
    max-width:1400px;
    display:flex;
    gap:1rem;
    margin-inline:auto;
}
footer .footer-text{
    flex-basis:50%;
    display:flex;
    flex-direction:column;
}
.footer-text > p:first-of-type{
    margin-bottom:20px;
}
.footer-text > p:nth-of-type(2){
    margin-bottom:20px;
}
footer img{
   flex-basis:50%;
   object-fit:cover;
   min-width:0px;
   width:400px;
   height:auto;
}
footer .icon{
    width:25px;
  height:25px;     
  object-fit:contain;
  flex:0 0 auto; 
  filter: brightness(0) invert(1);
}
footer p{
    font-size: 1.2rem;
}
footer .icon-container{
    display:flex;
    gap:1rem;
     
}
.contact-number-container,.contact-mail-container{
    display:flex;
    align-items:center;
    gap:0.5rem;
}

.contact-mail-container{
    margin-bottom:20px;
}

@media (max-width: 1000px) {
main .main-wrapper{
  grid-template-columns:repeat(2,minmax(200px,1fr));
}
.header-wrapper{
    display:block;
    width: 100%;
}
.profile-picture-container{
    float:left;
    margin-left:-1rem;
    margin-right: 1.25rem;
  }
  .profile-picture{
    width:250px;
    height:250px;
  }
  .about-me-container{
    margin-top:40px;
  }
  .profile-picture-container .name{
     top:0;
    left: calc(50% + 90px); 
    transform:none;
    bottom: auto;
}
.about-me-container{
    display:block;
}
}
@media (max-width:500px){
    .header-wrapper{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:1rem;
    }
    .about-me-container{
        display:flex;
    }
    .profile-picture-container .name{
        left: 50%;
        transform: translateX(-50%);
        top:85%;
       
    }
    .profile-picture{
        width:300px;
        height:300px;
    }
    .profile-picture-container{
        flex-basis:0;
        object-fit:contain;
    }
    main .main-wrapper{
        grid-template-columns:minmax(200px,1fr);
    }
    .footer-wrapper{
        flex-direction:column;
    }
    .footer-text{
        text-align:center;
    }
    .contact-number-container,.contact-mail-container, .icon-container{
    justify-content:center;
    }

}